.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  border: 2px solid #d4ff00;
}
.data{
  color: #000;
}

.data span.hover {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.data span.hover:after {
  content: 'Live';
     font-size: 34px;
    font-weight: 600;
     width: 100%;
    height: 25%;
    color: #000;
    position: absolute;
    opacity: 0;
    top: 40%;
    right: 0px;
    transition: 0.5s;
    background-color: rgba(212, 255, 0, 0.8);
  z-index: 1099;

}

  @media (max-width: 767px){
  .data span.hover:after {
    font-size: 25px;
  }}
.data:hover span.hover {
  text-shadow: 5px solid #fff;

}

.data:hover span.hover:after {
  opacity: 1;
  right: 0;
}


.card span.ch{
  position: absolute;
  width: 50px;
    height: 20px;
    background-color: #d4ff00;
    left: 10px;
    top: 7px;
    z-index: 500;

}

.card .card-title {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  float: left;
  text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
  margin: auto;
}

.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  width: 100%;
  z-index: 0;
}

.card .card-image .card-title {
  position: relative;
  margin: auto;

  top: 0; left: 0; bottom: 0; right: 0;
}
.card .card-image {
  position: relative;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}
.card-time {
  background-color: #d4ff00;
  min-height: 50px;
  padding: 5px;
}
.card .card-content {
  padding: 5px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  background-color: rgba(212, 255, 0, 0.23);
  min-height: 50px;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}

.card .card-content .card-title {
  line-height: 16px;
  text-align: left;
}

.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
  background-color: rgba(212, 255, 0, 0.23);
}

.card .card-action a {
  color: #ffab40;
  margin-right: 16px;

  transition: color 0.3s ease;
  text-transform: uppercase;
}

.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}
@media (max-width: 767px){
.card .card-title {
  font-size: 11px;
  padding: 0 0 0 10px;
  }
  .card-time {
    font-size:11px;
  }
}