#main-slider 
.carousel-caption {
  background: none repeat scroll 0 0 #000000;
  bottom: 14%;
  float: left;
  left: 0;
  opacity: 0.8;
  padding:10px 140px 35px;
  right: inherit;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}

#main-slider 
.carousel-caption h2 {  
  font-size: 38px;
}

#main-slider 
.carousel-caption h4 {
  font-size: 24px;
}

#main-slider 
.carousel-caption a {
  font-size: 22px;
  color: #ca8c42
}

#main-slider:hover {
  color: #ca8c42
}

#main-slider 
.carousel-caption:hover i {
  margin-left: 35px
}
.stream_controller{
  padding-top: 60px;
}
.channel iframe{
  height: 380px;
}

#main-slider 
.carousel-caption i {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header {
/*  background-color: #fff;*/
  margin-top: 55px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #430656;
    background-color: #e8944c;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #e8944c;
}
@media (max-width: 767px){
  .channel iframe{
  height: 223px;
}
.stream_controller{
  padding-top: 8Fs0px;
}
  header {
    margin-top: 60px;
  }
  #main-slider .carousel-caption {
    background: none repeat scroll 0 0 #000000;
    bottom: 14%;
    float: left;
    left: 0;
    opacity: 0.8;
    padding:0px 25px 5px;
    right: inherit;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    letter-spacing: 0px;
  }
  #main-slider .carousel-caption h2{
    font-size: 16px;

  }
  #main-slider .carousel-caption h4 {
  font-size: 13px;
}

#main-slider 
.carousel-caption a {
  font-size: 13px;
  color: #ca8c42
}
.carousel-indicators {
    bottom: 0px;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0px;
}
}

.pic_model {
    display: inherit;
    max-width: 100%;
    height: auto;
}
}

#main-new 
.new-caption {
  position: absolute;
  background: none repeat scroll 0 0 #000000;
  bottom: 0%;
  float: left;
  left: 0;
  opacity: 0.8;
  padding:10px 20px 5px;
  right: inherit;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}

#main-new 
.new-caption h2 {  
  font-size: 38px;
}

#main-new 
.new-caption h4 {
  font-size: 24px;
}

#main-new 
.new-caption a {
  font-size: 22px;
  color: #ca8c42
}

#main-new 
.new-caption a:hover {
  color: #ca8c42
}

#main-new 
.new-caption a:hover i {
  margin-left: 35px
}

#main-new 
.new-caption a i {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header #grid {
  overflow-x: auto;
    white-space: nowrap;
    font-size: 0;
    overflow-y: hidden;
    padding-top: 3px;
    z-index: 0;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0, 0, 0);
}
.grid_news1 {
  position: inherit;
    display: inline-block;
    white-space: normal;
    float: none;
    vertical-align: top;
    width: 100%;
    margin-left: 3px;
    margin-right: 0;
    margin-bottom: 0;
    border:0;
}
.grid_news2 {
  position: inherit;
    display: inline-block;
    white-space: normal;
    float: none;
    vertical-align: top;
    width: 100%;
    margin-left: 3px;
    margin-right: 0;
    margin-bottom: 0;
    border:0;
}
.grid_news3 {
  position: inherit;
    display: inline-block;
    white-space: normal;
    float: none;
    vertical-align: top;
    width: 100%;
    margin-left: 3px;
    margin-right: 0;
    margin-bottom: 0;
    border:0;
}

@media (max-width: 767px){
  #grid {
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0;
    overflow-y: hidden;
    padding-top: 3px;
    z-index: 0;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0, 0, 0);
}}

@media (max-width: 767px){
  .grid_news {
    position: inherit;
    display: inline-block;
    white-space: normal;
    float: none;
    vertical-align: top;
    width: 80%;
    margin-left: 3px;
    margin-right: 0;
    margin-bottom: 0;
    border:0;
}}



#event-carousel {
  position: relative;
}

.even-control-left, 
.even-control-right {
  position: absolute;
  font-size: 24px;
  color: #333;
  top: 0;
}
.hilight-control-left, 
.hilight-control-right {
  position: absolute;
  font-size: 24px;
  color: #fff;
  top: 0;
}

.even-control-left {
  right: 3%
} 

.even-control-right {
  right: 0;
}

#hilight {
  background-color: #222;
  color: #fff;
}
#hot {
    position: absolute;
    left:9.5%;
    top:0%;
    max-width: 15%;
}

.hilight_ads {
  right:20px;
  top: 20px;
}

.hilight_ads_pic {
  margin-top: 50px;
 margin-bottom: 10px;
 width: 100%;
 height:auto;
 display:inline-block;
}

.hilight_ads_pic:hover {
  display: inline;
   background-image: url('../img/ads_hover.png');
}

.header_live {
	/*background-color: #999;*/
	height: 120px;
	padding-top: 50px;
	position: relative;
    width: 100%;
    overflow-y: hidden;
    background: url(../img/cover.png);
    color: #fff;
}
}
@media (max-width: 767px){
  .header_margin {
    margin-top: 50px;
  }
}

.header_text {
	margin-top: 60px;
}

.stream_detail {
    background-color: #fff;
    border: 0px;
    color: #333;
      padding: 10px 30px;
}
.stream_detail a{
  color: #a94442;
}
.stream_detail p{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.stream-caption{
    position: absolute;
    right: 15%;
    bottom: 0px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
} 
@media (max-width: 767px){ .stream-caption{
    margin-bottom: -5px;
} 
.stream-caption h4{
    font-size: 10px;
} 
.stream-caption h5{
    font-size: 8px;
} 
.stream_detail {
   padding: 10px 15px;
  }
}
.stream_list {
    position:relative;
    display:inline-block;
}
/*.stream_list:hover:after {
    content:"Live";
    width:100%;
    height:100%;
    background:rgba(0,0,0, 0.7);
    position:absolute;
    top:0;
    left:0;
} */

a.darken {
    background: black;
    padding: 0;
    position:relative;
  
}


a.darken img {
    display: block;
    
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}


a.darken:hover img {
    opacity: 0.1;           
}
a.darken span{
    visibility:hidden; 
    font-size:30px;
    z-index: 20;
      position: absolute;
      top: -40%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      line-height: 100%;
      border:solid #fdcc52 1px;
}
a.darken:hover span{
    color:#fdcc52; visibility:visible;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
.news_header {
  background-color: #de9410;
  margin: 10;
}

.navbar {
    background-color: #430656;
    border-color: #fff;
    border-width: 0 0 5px;
    font-size: 17px;
}

caption {
    vertical-align: bottom;
    
}
caption img{
  position: relative;
  display: contents;
  max-width: 5%;
  height: auto;
}
caption .league{
  padding: 3px 30px 3px 15px;
    border-bottom: 0;
    color: #fff;
    font-weight: normal;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4ff00+0,d4ff00+77,d4ff00+90&1+0,0.56+54,0.1+82 */
    background-color: #430656;
    display: -webkit-inline-box;
}
.table>tbody>tr{
  border: none;
}
.table>tbody>tr>th{
    background-color: transparent;
    vertical-align: top;
    text-align: center;
    color: #430656;
  }
.table>tbody>tr>td {
    background-color: rgba(67, 6, 86, 1);
    vertical-align: top;
    color: #fff;
    text-align: center;
    border: none;
}

.table>tbody>tr>td>img {
width: 60px;
}

  .table>tbody>tr>td {
    text-align: center;
  }
  #bg{
    background-image: url('../img/back.png');
    background-color: #fff;
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    background-position: top;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
  }
  #banner{
    width: 100%;
  }
  #banner img{
    margin: auto;
  }
  .stream_ch{
    height: 583px;
    padding-top: 10px;;
  }
  @media (max-width: 767px){
    .stream_ch{ height: 275px;
      border: 0;
    padding-top: 0;
  }
  }
  footer {
    background-color: #430656;
    padding: 20px;
    border-top: 2px solid #fff;
    margin-top: 20px;
    color: #fff;
  }
  footer a{
    color: #e8944c;
  }
    footer a:hover{
    color: #fff;
  }
section {min-height: 530px;}
@media (min-width: 768px){

.modal-dialog {
    width: 347px;
    margin: 38px auto;
}   }
@media (max-width: 767px){
.modal-dialog {
    position: relative;
    width: 320px;
    margin: auto;
}}

.side{
    position: fixed;
    
}
.side #right{
  position: fixed;
  bottom: 160px;
    width: 160px;
    right: 0;
}
.side #left{
  position: fixed;
  bottom: 160px;
    width: 160px;
    left: 0;
}
.banner_bot{
  position: fixed;
    top: 96%;
    margin-top: -104px;
        margin-left: 14%;
  z-index: 1000;
}
@media (max-width: 767px){
  .side{
    display: none;
  }
    .table>tbody>tr>td>img {
width: 40px;
}
  .table>tbody>tr>th, .table>tbody>tr>td{
    font-size: 11px;
    line-height: 1;
  }
.banner_bot{
position: fixed;
position: fixed;
    top: 96%;
    left: 56%;
    width: 100%;
    margin-top: -20%;
    margin-left: -56%;
    z-index: 1000;
}

}
.navbar-brand{
  padding: 0px 5px;
}
.score {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    background: #e8944c;
    padding: 5px;
}

.fragment {
    font-size: 12px;
    font-family: tahoma;
    height: 140px;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
}

.fragment:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}

.fragment img { 
    float: left;
    margin-right: 10px;
}


.fragment h3 {
    padding: 0;
    margin: 0;
    color: #369;
}
.fragment h4 {
    padding: 0;
    margin: 0;
    color: #000;
}
#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}