.tr-s-con{
    display: flex;
    display:-webkit-flex;
    justify-content: center;
    flex-direction: column;
}

.mm{
    background-color: #A90001;
    font-weight: bold;
    border: 1px solid white;
    color:white;
    text-align: center;
    padding: 2px;
}

.text-red{
    color: #A90001 !important;
}

.text-red-bold{
    color: #A90001 !important;
    font-weight: bold;
}

.tr-s-con-1{
    background-color: black;
    
    text-align: center;
    color: white;
}

.tr-s-con-1 img{
    max-width: 80%;
}

.tr-s-con-2{
    display: flex;
    display:-webkit-inline-box;
    text-align: center;
    /* background-color: #e74c3c; */
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
}

.tr-s-con-2-1 img{
    max-width: 10px;
}

.tr-s-con-2-1{
    display: flex;
    justify-content: center;       
    width: 100%;
}

.tr-s-con-2-1 > div{
    text-align: left;
}

.bg-r{
    background-color: #FFC58C;    
}

.font-bold{
    font-weight: bold;
}

.tr-s-con-2-1 > div:first-child{
    background-color: #FFEDD9;
    color: black;    
    width: 100%;
}

.tr-s-con-2-1 > div:nth-child(2){
    background-color: #FFEDD9;
    color: black;
    
    width: 50%;
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
    justify-content: space-between;
}

.tr-s-con-2-1 > div:first-child > div{
    padding: 2px;
    border: 1px solid white;
}

.tr-s-con-2 > div:nth-child(2){
    color: white;
    
}

.tr-s-con-2-1 > div:nth-child(2) > div{
   padding: 2px;
   border: 1px solid white;
   height: 100%;
}


.bt-table{
    border: 1px solid white;
    width: 100%;
    /* margin-bottom: 0px; */
}

.bt-table tr th{
    border: 1px solid white;
    /* font-size: 80%; */
    background-color: #A90001;
    color:white;
    
}

.bt-table tr.lg td{
    border: 1px solid white;
    background-color: #FFC58C;
    color:black;
    
}

.bt-table tr td{
    border: 1px solid white;
    background-color: #FFEDD9;
    color:black;
    padding: 4px 10px 4px 5px;
    /* font-size: 80%; */
    
}

.bt-table tr th{
    text-align: center;
}

.bt-team img{
    max-width:15px;
}

.text-center{
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width: 414px) {


    .tr-s-con-2-1 img{
        max-width: 5px;
    }

    .bt-table tr th{
        font-size: 40%;
    }

    .bt-table tr td{
        font-size: 40%;
    }

    .bt-team img{
        max-width:8px;
    }
}

@media screen and (max-width: 320px) {


    .tr-s-con-2-1 img{
        max-width: 3px;
    }

    .bt-table tr th{
        font-size: 40%;
    }

    .bt-table tr td{
        font-size: 40%;
    }

    .bt-team img{
        max-width:8px;
    }
}

@media handheld, only screen and (max-width: 414px) {
    .ch-name {
        font-size: 1em;
    }
}
